<% layout('layout') %>
<div class="container mt-5">
  <h1>All Events</h1>
  <a href="/events/new">New Event</a>

  <%- include('error.ejs') %>
  <div class="row">
    <% events.forEach(event => { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <p class="card-text"><strong>Date:</strong> <%= event.date %></p>
          <p class="card-text">
            <strong>Location:</strong> <%= event.location %>
          </p>
          <% if (event.description) { %>
          <p class="card-text">
            <strong>Description:</strong> <%= event.description %>
          </p>
          <% } %>
          <p class="card-text">
            <strong>Created By:</strong> <%= event.createdBy %>
          </p>
          <p class="card-text">
            <small class="text-muted"
              ><strong>Created At:</strong> <%= event.createdAt %></small
            >
          </p>
          <div class="d-flex justify-content-evenly align-items-center">
            <form
              class="mx-2 my-2"
              action="/events/<%= event._id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a
              class="mx-2 my-2 btn btn-primary"
              href="/events/edit/<%= event._id %>"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
